{% extends 'templates/frontend/app.twig' %}


{% block content %}
    <div class="row">
    	<div class="col-xs-12">
    		<h1>SESSION 1</h1>
    	</div>
    </div>

    <div class="row">
    	<div class="col-xs-12">
    		<h1>SESSION 2</h1>
    	</div>
    </div>

    <div class="row">
    	<div class="col-xs-12">
    		<h1>SESSION 3</h1>
    	</div>
    </div>
{% endblock %}