{% extends 'templates/frontend/app.twig' %}

{% block content %}
	<div class="product_bg_section">
    	<img src="{{ base_url() }}/assets/frontend/images/contact/contact_bg.jpg">
    </div>

    <div class="contact">
    	<div class="box-left">
    		<h3>สอบถามข้อมูลสินค้าเพิ่มเติม หรือโปรโมชั่นต่าง ๆ ได้ที่</h3>
    		<div class="contact-detail">
    			<h4>ฝ่ายขาย</h4>
    			<p>
    				<span class="topic">โทร : </span>
    				<span class="description">02-0071317, 095-2507189, 095-2530971</span>
    			</p>
    			<p>
    				<span class="topic">แฟกช์ : </span>
    				<span class="description">02-0081318</span>
    			</p>

    			<h4 style="margin-top: 25px;">เวลาทำงาน</h4>
    			<p>
    				<span class="topic">จันทร์ - ศุกร์</span>
    				<span class="description">08.00 - 18.00น</span>
    			</p>
    			<p>
    				<span class="topic">เสาร์</span>
    				<span class="description">08.00 - 13.00</span>
    			</p>
    		</div>
    		<h3 class="txt-desc">เพื่อความถูกต้องในการสั่งสินค้าและบริการ กรุณาติดต่อฝ่ายขายเพื่อยืนยันการสั่งซื้อ และยืนยันการชำระเงิน รวมถึงแผนที่ในการจัดส่งสินค้าที่ชัดเจน</h3>

    		<div class="qrcode">
    			<div>
    				<img src="{{ base_url() }}/assets/frontend/images/contact/qr_contact_1.jpg">
    			</div>
    			<div>
    				<img src="{{ base_url() }}/assets/frontend/images/contact/qr_contact_2.jpg">
    			</div>
    		</div>
    	</div>
    	<div class="box-right">
    		
    	</div>
    </div>
{% endblock %}