{% extends 'templates/frontend/app.twig' %}

{% block content %}
	<div class="product_bg_section">
    	<img src="{{ base_url() }}/assets/frontend/images/deformed/deformed-bar.jpg">
    </div>

    <div class="product_detail">
    	<div class="box_product">
    		<h2>เหล็กข้ออ้อย</h2>
    		<img src="{{ base_url() }}/assets/frontend/images/deformed/deformed_detail.jpg">
    	</div>
    </div>
{% endblock %}