{% extends 'templates/frontend/app.twig' %}

{% block content %}
	<div class="product_bg_section">
    	<img src="{{ base_url() }}/assets/frontend/images/service/service.jpg">
    </div>

    <div class="product_detail">
    	<div class="box_product">
    		<h2>สินค้าและบริการอื่น ๆ</h2>
    		<img src="{{ base_url() }}/assets/frontend/images/service/service_detail.jpg">
    	</div>
    </div>
{% endblock %}