{% extends 'templates/frontend/app.twig' %}

{% block content %}
	<div class="product_bg_section">
    	<img src="{{ base_url() }}/assets/frontend/images/steel/hot-rolled-structural-steel/h-beam/h-beam.jpg">
    </div>

    <div class="product_detail">
    	<div class="box_product">
    		<h2>เหล็กเอชบีม</h2>
    		<img src="{{ base_url() }}/assets/frontend/images/steel/hot-rolled-structural-steel/h-beam/h-beam_detail.jpg">
    	</div>
    </div>
{% endblock %}