{% extends 'templates/frontend/app.twig' %}

{% block content %}
	<div class="product_bg_section">
    	<img src="{{ base_url() }}/assets/frontend/images/steel/cold-formed-structural-steel/galvanized-steel-pipe/galvanized-steel-pipe.jpg">
    </div>

    <div class="product_detail">
    	<div class="box_product">
    		<h2>ท่อเหล็กอาบสังกะสี</h2>
    		<img src="{{ base_url() }}/assets/frontend/images/steel/cold-formed-structural-steel/galvanized-steel-pipe/galvanized-steel-pipe_detail.jpg">
    	</div>
    </div>
{% endblock %}