<div class="footer">
	<p class="company">All rights and reserved by Khanthee Tech Co.,Ltd.</p>
	<ul>
        <li><a href="">หน้าแรก</a></li>
        <li><a href="">เหล็กเส้นกลม SR24</a></li>
        <li><a href="">เหล็กข้ออ้อย SD 40</a></li>
        <li><a href="">เหล็กรูปพรรณ</a></li>
        <li><a href="">สินค้าและบริการอื่น ๆ</a></li>
        <li><a href="">ผลงานของเรา</a></li>
        <li style="border: none;"><a href="">ติดต่อเรา</a></li>
    </ul>
</div>