<div class="payment">
	<h2>ช่องทางชำระเงิน</h2>
	<div>
		<img src="{{ base_url() }}/assets/frontend/images/payment/Asset 1.png">
	</div>

	<div>
		<img src="{{ base_url() }}/assets/frontend/images/payment/Asset 2.png">
	</div>

	<div>
		<img src="{{ base_url() }}/assets/frontend/images/payment/Asset 3.png">
	</div>

	<div>
		<img src="{{ base_url() }}/assets/frontend/images/payment/Asset 4.png">
	</div>
</div>